@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #9C9C9C;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #0D0D11;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 94.5rem;
  margin: 0 auto;
  padding: 0 7.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  font-size: 0.875rem;
  padding: 1rem 1.5625rem;
  font-weight: 500;
  border-radius: 50px;
  line-height: 1.57;
  /* 22/14 */
  letter-spacing: 0.125rem;
  color: #FFFFFF;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: rgba(129, 129, 139, 0.2);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 2;
}

.button:hover {
  background: rgba(129, 129, 147, 0.2);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button_blue {
  background: #3D96F4;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button_blue:hover {
  background: #007afd;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button_blue-mmr:not(:last-child) {
  margin-right: 2rem;
}

.button_grey {
  background: rgba(129, 129, 139, 0.2);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 1rem 1.9375rem;
}

.button_grey:hover {
  background: rgba(158, 157, 157, 0.537);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.block-text {
  position: relative;
  max-width: 39rem;
  padding-top: 7.8125rem;
}

.block-text__info {
  font-weight: 300;
  font-size: 0.6875rem;
  line-height: 1.54;
  /* 17/11 */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0.6875rem 1.1875rem;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
}

.block-text__title {
  font-weight: 500;
  font-size: 3.1875rem;
  line-height: 1.19;
  /* 61/51 */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  margin-bottom: 1.75rem;
}

.block-text__text {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5;
  /* 27/18 */
  margin-bottom: 2.0625rem;
}

.block-text__image {
  position: absolute;
  top: 14.6666666667%;
  left: -5.3819444444%;
}

.icon-menu {
  display: none;
}

.header {
  position: fixed;
  background: rgba(13, 13, 17, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 117px;
  z-index: 100;
}

.header__content {
  padding: 2rem 0rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 2rem;
}

.menu__logo {
  margin-right: 0.625rem;
  z-index: 2;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.25rem;
     -moz-column-gap: 2.25rem;
          column-gap: 2.25rem;
  row-gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__link:hover {
  color: #efeaea;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu .menu__cart {
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.menu .cart {
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 2;
}

.menu .cart__text:hover {
  color: #efeaea;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu .cart__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  background: rgba(129, 129, 139, 0.3);
}

.marketing {
  margin-top: 10.125rem;
}

.marketing__content {
  padding: 2.75rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.6875rem;
     -moz-column-gap: 3.6875rem;
          column-gap: 3.6875rem;
  padding: 0rem 1.6875rem 0rem 3.375rem;
}

.block-image__item-big {
  max-width: 15.125rem;
  height: 26.4375rem;
}

.block-image__item-big:not(:last-child) {
  margin-bottom: 2rem;
}

.block-image__item-small {
  max-width: 15.125rem;
  max-height: 15.125rem;
}

.block-image__item-small:not(:last-child) {
  margin-bottom: 2rem;
}

.block-image__img-big {
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-image__img-small {
  width: 100%;
  height: 100%;
}

.block-image__img-small_yellow {
  border-radius: 400px 400px 0px 400px;
}

.block-image__img-small_orange {
  border-radius: 400px 0px 400px 400px;
}

.label__content {
  padding-top: 9.25rem;
}

.label__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.57;
  /* 22/14 */
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-bottom: 1.5625rem;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__gradient_r {
  position: absolute;
  top: 0;
  right: 0;
  width: 115px;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(8%, #0D0D11), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(right, #0D0D11 8%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(270deg, #0D0D11 8%, rgba(0, 0, 0, 0) 100%);
}

.partners__gradient_l {
  position: absolute;
  top: 0;
  left: 0;
  width: 115px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #0D1011), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, #0D1011 8%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(90deg, #0D1011 8%, rgba(0, 0, 0, 0) 100%);
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 9.0625rem;
  padding-bottom: 12.9375rem;
}

.services__block-text {
  margin-right: 1.25rem;
}

.block-text_services {
  padding-top: 13.9375rem;
  max-width: 32rem;
}

.block-text__info_services {
  display: inline-block;
  margin-bottom: 1.1875rem;
}

.block-text__title_services {
  margin-bottom: 0.75rem;
}

.block-text__text_services {
  margin-bottom: 2.0625rem;
}

.block-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  row-gap: 2rem;
  max-width: 41.4375rem;
}

.block-squares__list {
  gap: 2rem;
}

.block-squares__item {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 3.4375rem 4.25rem 3.875rem 1.5625rem;
}

.block-squares__item:nth-child(1) {
  margin-bottom: 2rem;
}

.block-squares__list_padding-top {
  padding-top: 3rem;
}

.block-squares__list_padding-bottom {
  padding-bottom: 3rem;
}

.block-squares__img {
  margin-bottom: 0.625rem;
}

.block-squares__title {
  font-weight: 400;
  font-size: 19px;
  line-height: 2.7;
  /* 27/10 */
  color: #FFFFFF;
}

.block-squares__text {
  font-weight: 300;
  line-height: 1.5;
  /* 24/16 */
  color: #81818B;
}

@media (max-width: 59.25em) {
  .block-squares__title {
    line-height: 1.3;
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .button_services {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block-text {
    margin-bottom: 1.875rem;
  }

  .block-text__image {
    left: 30px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(255, 255, 255);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header {
    height: 87px;
  }

  .header__content {
    padding: 0.9375rem 0rem;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    left: -100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgb(51, 49, 49);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: auto;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    left: 0;
    width: 100%;
    height: 80px;
    top: 0;
    left: -100%;
    background: rgba(10, 10, 10, 0.8);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }

  .menu-open .menu__body {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.625rem;
    row-gap: 1.875rem;
    margin-top: 6.25rem;
  }

  .menu__list:last-child {
    margin-bottom: 1.875rem;
  }

  .marketing {
    margin-top: 0rem;
  }

  .marketing__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .block-image {
    padding: 0rem;
  }

  .label__content {
    padding-top: 3rem;
  }

  .partners {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .services__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .services__block-text {
    margin-right: 0rem;
  }

  .block-text_services {
    padding-top: 7.6875rem;
  }

  .block-text__title_services {
    text-align: center;
  }

  .block-text__text_services {
    text-align: center;
  }

  .block-text_services {
    text-align: center;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) and (max-width: 37.5em) {
  .menu__body::before {
    height: 70px;
  }
}

@media (max-width: 37.5em) {
  .button {
    margin: 0rem;
  }

  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__logo {
    max-width: 40px;
    min-width: 40px;
    overflow: hidden;
  }
}

@media (max-width: 33.75em) {
  .block-squares {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 19.6875rem;
  }
}

@media (max-width: 29.9375em) {
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .button_blue-mmr {
    margin-right: 0rem;
    margin-bottom: 1.25rem;
  }

  .button_burger {
    width: 10rem;
  }
}

@media (max-width: 29.99875em) {
  .block-text {
    padding-top: 5.9375rem;
  }
}

@media (min-width: 47.9375em) and (max-width: 68.75em) {
@supports (padding-left: clamp( 0.9375rem , -13.6021021021rem  +  30.3303303303vw , 7.25rem )) {
    [class*=__container] {
      padding-left: clamp( 0.9375rem , -13.6021021021rem  +  30.3303303303vw , 7.25rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -13.6021021021rem  +  30.3303303303vw , 7.25rem )) {
    [class*=__container] {
      padding-left: calc(0.9375rem + 6.3125 * (100vw - 47.9375rem) / 20.8125);
    }
}

@supports (padding-right: clamp( 0.9375rem , -13.6021021021rem  +  30.3303303303vw , 7.25rem )) {
    [class*=__container] {
      padding-right: clamp( 0.9375rem , -13.6021021021rem  +  30.3303303303vw , 7.25rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -13.6021021021rem  +  30.3303303303vw , 7.25rem )) {
    [class*=__container] {
      padding-right: calc(0.9375rem + 6.3125 * (100vw - 47.9375rem) / 20.8125);
    }
}
}

@media (min-width: 20em) and (max-width: 48em) {
@supports (margin-right: clamp( 0.625rem , 0.625rem  +  0vw , 0.625rem )) {
    .button {
      margin-right: clamp( 0.625rem , 0.625rem  +  0vw , 0.625rem );
    }
}

@supports not (margin-right: clamp( 0.625rem , 0.625rem  +  0vw , 0.625rem )) {
    .button {
      margin-right: calc(0.625rem + 0 * (100vw - 20rem) / 28);
    }
}
}

@media (min-width: 20em) and (max-width: 37.5em) {
@supports (font-size: clamp( 2.5rem , 1.7142857143rem  +  3.9285714286vw , 3.1875rem )) {
    .block-text__title {
      font-size: clamp( 2.5rem , 1.7142857143rem  +  3.9285714286vw , 3.1875rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.7142857143rem  +  3.9285714286vw , 3.1875rem )) {
    .block-text__title {
      font-size: calc(2.5rem + 0.6875 * (100vw - 20rem) / 17.5);
    }
}
}

@media (min-width: 47.875em) and (max-width: 81.25em) {
@supports ((-moz-column-gap: clamp( 0.625rem , -3.7680243446rem  +  9.1760299625vw , 3.6875rem )) or (column-gap: clamp( 0.625rem , -3.7680243446rem  +  9.1760299625vw , 3.6875rem ))) {
    .block-image {
      -webkit-column-gap: clamp( 0.625rem , -3.7680243446rem  +  9.1760299625vw , 3.6875rem );
         -moz-column-gap: clamp( 0.625rem , -3.7680243446rem  +  9.1760299625vw , 3.6875rem );
              column-gap: clamp( 0.625rem , -3.7680243446rem  +  9.1760299625vw , 3.6875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -3.7680243446rem  +  9.1760299625vw , 3.6875rem )) or (column-gap: clamp( 0.625rem , -3.7680243446rem  +  9.1760299625vw , 3.6875rem ))) {
    .block-image {
      -webkit-column-gap: calc(0.625rem + 3.0625 * (100vw - 47.875rem) / 33.375);
         -moz-column-gap: calc(0.625rem + 3.0625 * (100vw - 47.875rem) / 33.375);
              column-gap: calc(0.625rem + 3.0625 * (100vw - 47.875rem) / 33.375);
    }
}
}

@media (min-width: 20em) and (max-width: 47.875em) {
@supports ((-moz-column-gap: clamp( 0.625rem , -0.2718609865rem  +  4.4843049327vw , 1.875rem )) or (column-gap: clamp( 0.625rem , -0.2718609865rem  +  4.4843049327vw , 1.875rem ))) {
    .block-image {
      -webkit-column-gap: clamp( 0.625rem , -0.2718609865rem  +  4.4843049327vw , 1.875rem );
         -moz-column-gap: clamp( 0.625rem , -0.2718609865rem  +  4.4843049327vw , 1.875rem );
              column-gap: clamp( 0.625rem , -0.2718609865rem  +  4.4843049327vw , 1.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.2718609865rem  +  4.4843049327vw , 1.875rem )) or (column-gap: clamp( 0.625rem , -0.2718609865rem  +  4.4843049327vw , 1.875rem ))) {
    .block-image {
      -webkit-column-gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 27.875);
         -moz-column-gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 27.875);
              column-gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 27.875);
    }
}
}

@media (min-width: 47.9375em) and (max-width: 73.75em) {
@supports (padding-right: clamp( 1.25rem , -1.0714285714rem  +  4.8426150121vw , 2.5rem )) {
    .block-squares__item {
      padding-right: clamp( 1.25rem , -1.0714285714rem  +  4.8426150121vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , -1.0714285714rem  +  4.8426150121vw , 2.5rem )) {
    .block-squares__item {
      padding-right: calc(1.25rem + 1.25 * (100vw - 47.9375rem) / 25.8125);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.6696428571rem  +  1.210653753vw , 1.5625rem )) {
    .block-squares__item {
      padding-left: clamp( 1.25rem , 0.6696428571rem  +  1.210653753vw , 1.5625rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.6696428571rem  +  1.210653753vw , 1.5625rem )) {
    .block-squares__item {
      padding-left: calc(1.25rem + 0.3125 * (100vw - 47.9375rem) / 25.8125);
    }
}
}

@media (min-width: 20em) and (max-width: 47.9375em) {
@supports (padding-right: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .block-squares__item {
      padding-right: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .block-squares__item {
      padding-right: calc(1.25rem + 0 * (100vw - 20rem) / 27.9375);
    }
}

@supports (padding-left: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .block-squares__item {
      padding-left: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .block-squares__item {
      padding-left: calc(1.25rem + 0 * (100vw - 20rem) / 27.9375);
    }
}
}